#localVideo {
  position: relative;
  width: 70vw;
  height: 90vh;
  overflow: hidden;

  #extension {
    position: absolute;
    right: 30px;
    top: 5px;
    display: none;
    z-index: 100;
    #openChat {
      z-index: 100;
    }
  }

  #localStream {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .wrap-btn-call {
    display: none;
    .btn-call {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: solid 1px #c1c1c1;
      outline: none;
      background-color: transparent;
      position: absolute;
      bottom: 5%;
      z-index: 100;
      &:hover {
        cursor: pointer !important;
        -webkit-box-shadow: inset 0px 0px 37px 28px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: inset 0px 0px 37px 28px rgba(0, 0, 0, 0.18);
        box-shadow: inset 0px 0px 37px 28px rgba(0, 0, 0, 0.18);
        z-index: 10;
        border: solid 1px #ffb600;
      }
      i {
        color: #fff;
      }
    }
    .muteCall {
      left: 35%;
      transform: translate(-50%, 0);
    }
    .stopCall {
      left: 50%;
      transform: translate(-50%, 0);
      i {
        color: #ff0000;
      }
    }
    .hideCam {
      left: 65%;
      transform: translate(-50%, 0);
    }
  }
  &:hover .wrap-btn-call {
    display: block;
  }
}
#user-container {
  display: block;
  width: 40vw;
  height: 90vh;
  #options {
    width: 100%;
    height: 50px;
    #hideChat {
      height: 0%;
      padding: 10px 0;
      cursor: pointer;
      img {
        height: 100%;
      }
    }
    .option {
      width: 100%;
      overflow: hidden;
      // border-radius: 15px 15px 15px 15px;
      background-image: url("/img/gradient.jpg");
      cursor: pointer;
      -webkit-box-shadow: inset 0px 0px 53px -12px rgba(255, 111, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 53px -12px rgba(255, 111, 0, 0.75);
      box-shadow: inset 0px 0px 53px -12px rgba(255, 111, 0, 0.75);
      img {
        width: 100%;
        height: 80%;
        padding-top: 3px;
      }
    }
    &:hover #hideChat {
      height: 100%;
      transition-duration: 500ms;
    }
  }
  #chat {
    display: none;
    #messTxt {
      max-width: 100%;
      height: 80vh;
    }
    #boxTxt {
      width: 100%;
      max-height: 200px;
      -webkit-box-shadow: 1px -44px 56px -39px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: 1px -44px 56px -39px rgba(0, 0, 0, 0.26);
      box-shadow: 1px -44px 56px -39px rgba(0, 0, 0, 0.26);
      padding-top: 30px;
      padding-bottom: 30px;
      #inputTxt {
        display: inline;
        width: 90%;
        border: none;
        outline: none;
        padding-left: 10px;
        border-bottom: 1px solid #ebebeb;

        &:focus {
          border-bottom: 1px solid #ffb600;
        }
      }
      #sendTxt {
        max-width: 10%;
        max-height: 100%;
        overflow: hidden;
        cursor: pointer;
        border: none;
        background-color: transparent;
        outline: none;
        img {
          width: 30px;
        }
      }
    }
  }
  #video-grid {
    max-width: 100%;
    max-height: 100%;
    // overflow: scroll;
    video {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
