#localVideo {
  position: relative;
  width: 80vw;
  height: 90vh;
  overflow: hidden;
  #localStream {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .wrap-btn-call {
    display: none;
    .btn-call {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: solid 1px #c1c1c1;
      outline: none;
      background-color: transparent;
      position: absolute;
      bottom: 5%;
      i {
        color: #fff;
      }
    }
    .mute {
      left: 35%;
      transform: translate(-50%, 0);
    }
    .stop {
      left: 50%;
      transform: translate(-50%, 0);
      i {
        color: #ff0000;
      }
    }
    .hideCam {
      left: 65%;
      transform: translate(-50%, 0);
    }
  }
  &:hover .wrap-btn-call {
    display: block;
  }
}
#user-container {
  display: block;
  width: 30vw;
  height: 90vh;
  #options {
    width: 100%;
    height: 50px;
    .option {
      width: 100%;
      overflow: hidden;
      border-radius: 15px 15px 15px 0px;
      background-image: url("/img/gradient.jpg");
      cursor: pointer;
      -webkit-box-shadow: inset 0px 0px 53px -12px rgba(255, 111, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 53px -12px rgba(255, 111, 0, 0.75);
      box-shadow: inset 0px 0px 53px -12px rgba(255, 111, 0, 0.75);
      img {
        width: 100%;
        height: 80%;
        padding-top: 3px;
      }
    }
  }
  #chat {
    #messTxt {
      max-width: 100%;
      height: 80vh;
    }
    #boxTxt {
      width: 100%;
      max-height: 200px;
      -webkit-box-shadow: 1px -44px 56px -39px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: 1px -44px 56px -39px rgba(0, 0, 0, 0.26);
      box-shadow: 1px -44px 56px -39px rgba(0, 0, 0, 0.26);
      padding-top: 30px;
      padding-bottom: 30px;
      #inputTxt {
        display: inline;
        width: 90%;
        border: none;
        outline: none;
        padding-left: 10px;
        border-bottom: 1px solid #ebebeb;

        &:focus {
          border-bottom: 1px solid #ffb600;
        }
      }
      #sendTxt {
        max-width: 10%;
        max-height: 100%;
        overflow: hidden;
        cursor: pointer;
        border: none;
        background-color: transparent;
        outline: none;
        img {
          width: 30px;
        }
      }
    }
  }
  #video-grid {
    display: none;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    video {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
